<%= form_for [commentable, Comment.new] do |f| %>

<div>
  <%= "#{current_user.profile.first_name} #{current_user.profile.last_name}" %>
</div>

<div>
	<%= f.text_area :body %><br>
</div> 

<%= f.submit %>
<% end %>
