<h4>Admin page</h4>
<br>
<h5>Articles</h5>
<% unless @articles.nil? %>  
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
	  <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= link_to "Edit", edit_article_path(article) %></td>
          <td><%= button_to "Delete", article_path(article), method: :delete %></td>
        </tr>
	  <% end %>
  </tbody>
</table>
<% end %>
<br>
<h5>Profiles</h5>
<ul>
  <% unless @profiles.nil? %>  
  	<% @profiles.each do |profile| %>
  		<li>
  			<%= link_to profile.first_name + " " + profile.last_name, profile %>
  		</li>
  	<% end %>
  <% end %>
</ul>
